#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

[
    Game(
        version: "0.7.0",
        flags: [],
        events: [
            Quarter(First),
            Kickoff(Nebraska),
            Play(
                action: Unknown,
                down: Second,
                terrain: Yards(10),
            ),
        ]
    )
]
